.search-input-container {
	position: relative;
}

.search-input {
	width: 90%;
	padding: 5px 5%;
	height: 2rem;
	border: 1px solid rgb(200,200,200);
	border-radius: 1.5rem;
	font-size: 1.2rem;
}

input:focus {
	outline: none;
}
input.search-input:hover {	
	box-shadow: 0px 0px 5px #EECB27;
}
input.search-input:focus {	
	box-shadow: 0px 0px 5px #EECB27;
}

.search-btn {
	position: absolute;
	top: 0px;
	right: 15px;
	margin-left: 5px;
	display: block;
	color: darkgray;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.7rem;
}
.search-btn svg {
	margin-bottom: -5px;
}
.search-btn:hover {
	color: gray;
}

.search-box {
	width: 90%; 
	max-width: 500px;
	margin: auto;
	margin-top: 150px;
}
.search-box h1 {
	text-align: center;
	font-size: 5rem;
	margin: 30px 0;
}

.etc {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
